<section class="top-bg-image  position-relative">
  <div class="container-fluid">
      <div class="row">
          <div class="position-relative z-1">
              <nav class=" breadcrumb mx-lg-5 flex-wrap px-lg-5">
                  <h3 class=" contact-title">ABOUT US</h3>
                  <ol class="breadcrumb ">
                      <li class="breadcrumb-item fs-5"><a href="#">HOME  </a></li>
                      <li class="breadcrumb-item active fs-5" aria-current="page"><a [routerLink]="['/contact']">ABOUT US</a></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</section>
<section class="py-5 about-color1">
     <div class="container">
         <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 fadeleft">
                 <h2 class="bold">About Us</h2>
                 <p class="text-para-muted">Welcome to Chanakya's IAS Academy, the premier coaching center for Civil Services Exams located near the collector
                   office in Villupuram, South India.
                   With a proven track record of success, we take pride in being the trusted choice for aspirants preparing for competitive exams.</p>
                     <p class="text-para-muted">Established in 2010, Chanakya's IAS Academy has been at the forefront of providing comprehensive and result-oriented
                       coaching to help students excel in their chosen career paths.
                       Our academy is built on the principles of excellence, integrity, and a deep-rooted 
                       commitment to nurturing the next generation of leaders.</p>
            </div>
            <div class="col-md-6 faderight">
                <div>
                    <img src="assets/image/about/About us 1.png" class="img-fluid" alt="">
                </div>
            </div>
         </div>
     </div>
</section>
<section class="py-5 about-color2">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
         <div class="col-md-6 order-lg-2">
              <p class="text-para-muted">At Chanakya's IAS Academy, we understand the challenges faced by aspiring candidates in today's competitive
                 landscape. Therefore, we have curated a team of experienced and dedicated faculty members who possess a profound understanding of the 
                 exam patterns and syllabi. Our faculty 
                members bring a wealth of knowledge, expertise, and teaching skills to guide students effectively throughout their preparation journey.
                With a proven track record of success, we take pride in being the trusted choice for aspirants preparing for competitive exams.</p>
                  <p class="text-para-muted">What sets us apart is our unique teaching methodology that goes beyond rote learning. We believe in fostering
                     conceptual clarity, critical thinking, and analytical skills among our students. Our approach involves interactive classroom sessions,
                      group discussions, case studies, and problem-solving exercises. Regular assessments,
                     mock tests, and practice sessions are conducted to gauge students' progress and provide them with valuable feedback for improvement.</p>
         </div>
         <div class="col-md-6 order-lg-1">
          <div>
            <img src="assets/image/about/About us 2.png" class="img-fluid" alt="">
          </div>
      </div>
      </div>
  </div>
</section>
<section class="py-5 about-color3">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
         <div class="col-md-6">
              <p class="text-para-muted">Over the years, Chanakya's IAS Academy has witnessed numerous success stories as our students have achieved 
                outstanding results in various competitive exams.
                 Their accomplishments are a testament to the effectiveness of our coaching methodology and the dedication of our faculty.</p>
                  <p class="text-para-muted">Join Chanakya's IAS Academy today and embark on a transformative journey towards achieving your aspirations. 
                    Let us be your guiding light as you navigate the path to success in UPSC, TNPSC, Police Exams,
                     IBPS, RRB, and NEET. Contact us now to know more about our coaching programs and take the first step towards realizing your dreams.</p>
         </div>
         <div class="col-md-6">
             <div>
              <img src="assets/image/about/About us 3.png" class="img-fluid" alt="">
             </div>
         </div>
      </div>
  </div>
</section>
<!--Call to action-->
<section class="py-5 action-bg-color position-relative ">
  <div>
    <img src="assets/image/yellow-bg.png" class="callyellow-bg d-none d-lg-block" alt="">
  </div>
  <div class="container">
    <div>
      <img src="assets/image/homescroll/girl1.png" class="img-fluid position-absolute call-logo d-none d-lg-block z--1 " alt="">
     </div>
     <div class="row">
       <div class="col-md-8">
         <div>
          <p class="text-white  welcome-text position-relative fs-4">Join Chanakya's IAS Academy today and take the first step towards achieving your dreams
            Contact us now for more information or to enroll in our coaching programs.</p>
         </div>
       </div>
       <div class="col-md-4 text-center">
        <button type="button" class="btn border-0"><a [routerLink]="['/contact']" class="btn-white">Join Now <i class="fa-solid fa-arrow-right rightarrow"></i></a> </button>
       </div>
     </div>
  </div>
</section>
<!--TESTIMONIAL-->
<section class="py-5 testimonal-bg-color position-relative">
  <div class="container   ">
    <img src="assets/image/shape-04.png" class="position-absolute shape-09 d-none d-lg-block" alt="">
    <div class="row d-flex align-items-center text-center">
      <h2 class="text-heading-muted text-center pb-4">Testimonials</h2>
      <div class="col-md-12">
             <div class="d-flex justify-content-center">
              <div class="card border-0 px-5 testament-card position-relative" >
              <div class="text-center py-3">
                <img src="assets/image/quote.png" class="img-fluid " width="50" alt="">
              </div>
                <div id="carouselExample" class="carousel slide testimonal" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">Pradeep</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class="my-5 pb-5 lh-base fs-5 cssanimation">I am extremely satisfied with the coaching provided by Chanakya's IAS Academy,
                         and their regular updates keep me informed.</p>
                       
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">Divya</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5  lh-base fs-5 cssanimation">Joining Chanakya's IAS Academy was the best decision I made as a working professional.
                         Thank you for guiding me. </p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Subash</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 lh-base fs-5 cssanimation">The weekend batches and flexible timings at Chanakya's IAS Academy allowed me to balance
                         work and preparation effectively. Thank you for making this possible.</p>
                    </div>
                    <div class="carousel-item " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Monika</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5  lh-base fs-5 cssanimation">Their study materials and regular revision classes at Chanakya's
                         IAS Academy were invaluable for my preparation towards TNPSC .</p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Praba</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5  lh-base fs-5 cssanimation">Hi, I achieved my dream by joining in this academy. I thank you for training me and making me achieve this.
                         I am very satisfied with their training and guidane </p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Venkatesh</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 lh-base fs-5 cssanimation">The support and guidance from the staff at Chanakya's IAS Academy helped me successfully crack the exams despite my busy schedule.
                         I am extremely satisfied with the coaching provided by them.</p>
                    </div>
                  </div>
                  <button class="carousel-control-prev position-absolute prev-icon hide-lg" type="button " data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next position-absolute next-icon hide-lg" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
             </div>
      </div>

    </div>
  </div>

</section>
<!--Map-->
<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12">
        <iframe  src="https://maps.google.com/maps?q=Chanakya's+IAS+Academy+-+TNPSC%2FNEET%2FUPSC%2FRRB%2FBANKING+coaching+centre+in+Villupuram&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed&amp;z=17" class="map"></iframe>
      </div>
    </div>
  </div>
</section>
