
<section>
  <div class="container-fluid p-0">
    <div class="row" style="--swiper-pagination-color: #fff">
      <div class="swiper ">
        <div class="swiper-wrapper">
          <div class="swiper-slide item">
            <img src="assets/image/homescroll/CIA_Cover.jpg" class="img-fluid d-none d-lg-block" alt="">
            <img src="assets/image/homescroll/MB.jpg" class="img-fluid d-block d-lg-none" alt="">
          </div>
          <div class="swiper-slide item"> 
            <img src="assets/image/homescroll/CIA_Cover_Ad.jpg" class="img-fluid d-none d-lg-block" alt="">
              <img src="assets/image/homescroll/last pic (1).jpg" class="img-fluid d-block d-lg-none" alt="">
          </div>
          <div class="swiper-slide item"> 
            <img src="assets/image/homescroll/tnpsc.jpg" class="img-fluid d-none d-lg-block" alt="">
            <img src="assets/image/homescroll/tnpsc1.jpg" class="img-fluid d-block d-lg-none" alt="">
          </div>
          <div class="swiper-slide item"> 
            <img src="assets/image/homescroll/tet & police.jpg" class="img-fluid d-none d-lg-block" alt="">
            <img src="assets/image/homescroll/tet1.jpg" class="img-fluid d-block d-lg-none" alt="">
          </div>
          <div class="swiper-slide item"> 
            <img src="assets/image/homescroll/upsc & rrb.jpg" class="img-fluid d-none d-lg-block" alt="">
            <img src="assets/image/homescroll/rrb1.jpg" class="img-fluid d-block d-lg-none" alt="">
          </div>
          <div class="swiper-slide item"> 
            <img src="assets/image/homescroll/banking & neet.jpg" class="img-fluid d-none d-lg-block" alt="">
              <img src="assets/image/homescroll/bank2.jpg" class="img-fluid d-block d-lg-none" alt="">
          </div>
        </div>
        <div class="swiper-pagination "></div>
        <div class="swiper-button-prev hide-lg"></div>
        <div class="swiper-button-next hide-lg"></div>
        <!--<div class="swiper-scrollbar"></div>-->
      </div>
    </div>
  </div>
</section>
<!-------------->
<!--Announcement-->
<section class="py-5 position-relative announcementbg-color">
  <div>
    <img src="assets/image/books (1).png " class="hero-circle position-absolute d-none d-lg-block" alt="">
  </div>
   <div class="container py-4">
    <div class="row">

      <div class="col-md-12">
        <div>
          <img src="assets/image/Button.png" class="img-fluid btn-image position-absolute d-none d-lg-block" alt="">
        </div>
         <div class="card p-4">
            <div>
                  <h2 class="text-heading-muted">Announcement</h2>
                  <hr class="d-none d-lg-block hr">         
            </div>
          
           <!--- <div class="text-white mt-5 marquee" >
              <h3 class="admission-color  text-center">Currently Admission Going On</h3>
          </div>-->
          <div class="marquee">
            <div class="marqueediv">
              <h3 class="admission-color ">Currently Admission Going On</h3>
            </div>
          </div>
         
         </div>
      </div>
    </div>
   </div>
</section>
<!--Welcome Message-->
<section class=" pb-5 position-relative welcome-bg-image">
   <div>
    <img src="assets/image/quote.png" class="position-absolute quote-img d-none d-lg-block"  alt="">
   </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="d-flex justify-content-center">
          <div class="card welcome-card border-0">
            <div class="text-center">
              <img src="assets/image/homescroll/Icon 111.png" class="img-fluid"width="200" alt="">
             </div>
               <p class="welcome-text lh-base fs-5">Welcome to Chanakya's IAS Academy, the premier coaching center for Civil Services Exams located near the collector office in Villupuram,
                  South India. With a strong focus on excellence,
                  we are dedicated to providing top-notch coaching for UPSC, TNPSC, Police Exams, IBPS, RRB, and NEET.</p>
          </div>
         </div>
      </div>
    </div>
  </div>
</section>
<!--Mission Message-->
<section class="py-5 mission-bg-color position-relative">
  <div>
    <img src="assets/image/yellow-bg.png" class="yellow-bg d-none d-lg-block" alt="">
  </div>
  <div class="container">
     <div class="row d-flex align-items-center">
          <div class="col-md-2 text-lg-end text-md-center">
            <h2 class="text-center text-heading-muted pb-3 text-white">Mission</h2>
          </div>
      <div class="col-md-2 text-center">
      <img src="assets/image/homescroll/Mission.png" class="img-fluid " width="200" alt="">
       </div>
       <div class="col-md-8 ">
            <p class="text-white welcome-text lh-base fs-5 text-lg-start ">At Chanakya's IAS Academy, our mission is to empower aspiring candidates to realize their aspirations and excel
              in their chosen career paths. 
             We strive to provide exceptional coaching and personalized guidance to help our students succeed in competitive exams.</p>
       </div>
      
     </div>
  </div>
</section>
<!--Our Courses-->
<section class="py-5">
  <div class="container">
    <div class="row">
      <h2 class="text-center text-heading-muted  pb-4">Courses Offered</h2>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation">
          <div>
            <img src="assets/image/courses/TNPSC-Web.png" class="img-fluid " alt="">
          </div>
          <div class="mt-4 text-center">
            <a [routerLink]="['/tnpsc']" class="achievebtn">TNPSC</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation1">
          <div>
            <img src="assets/image/courses/upsc/Upsc.png" class="img-fluid" alt="">
          </div>
          <div class="mt-4 text-center">
            <a [routerLink]="['/upsc']" class="achievebtn">UPSC</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation2">
          <div>
            <img src="assets/image/courses/rrb/RRB.png" class="img-fluid" alt="">
          </div>
          <div class="mt-4 text-center">
            <a [routerLink]="['/rrb']" class="achievebtn">RRB</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation3">
          <div>
            <img src="assets/image/courses/bank/BANK.png" class="img-fluid" alt="">
          </div>
          <div class="mt-4 text-center">
            <a href="" class="achievebtn">BANKING</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation4">
          <div>
            <img src="assets/image/courses/neet/Neet logo.jpg" class="img-fluid" alt="">
          </div>
          <div class="mt-4 text-center">
            <a [routerLink]="['/neet']" class="achievebtn">NEET</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation5">
          <div>
            <img src="assets/image/courses/TNPSC-Web.png" class="img-fluid" alt="">
          </div>
          <div class="mt-4 text-center">
            <a [routerLink]="['/tet']" class="achievebtn">TET</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation6">
          <div>
            <img src="assets/image/courses/police/police.png" class="img-fluid" alt="">
          </div>
          <div class="mt-4 text-center">
            <a [routerLink]="['/police']" class="achievebtn">POLICE</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="card p-3 single-item-wrapper cssanimation7">
          <div>
            <img src="assets/image/courses/TNPSC-Web.png" class="img-fluid" alt="">
          </div>
          <div class="mt-4 text-center">
            <a [routerLink]="['/pgtrb']"  class="achievebtn">PGTRB</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Youtube-->
<section class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!--<h2 class="text-center fw-bold  pb-4">Our videos</h2>-->
        <div>

          <video class="img-fluid" controls autoplay>
            <source src="assets/image/video.mp4" type="video/mp4">
          </video>
        
        
        </div>
      </div>
    </div>
  </div>
</section>
<!--Our Strength-->
<section class="py-5 strength-bg-color">
  <div class="container my-4">
    <div class="row">
    <h2 class="text-center text-heading-muted pb-4">Our Strength</h2>
      <div class="col-md-6 mb-3">
          <div class="card p-3 strength-card ">
              <div>
                <div class="text-center">
                  <img src="assets/image/Unique methodology.png" class="img-fluid "alt="">
                </div>
               <div >
                <h3 class=" text-center fw-bold">Unique methodology</h3>
               </div>
              </div>
              <p class="">Our academy employs a unique teaching methodology that goes beyond traditional classroom instruction.
                 We focus on concept clarity, interactive learning, and problem-solving techniques to develop a
                  deep understanding of the subjects.
              </p>
              <div class="go-corner">
                <div class="go-arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
          </div>
      </div>
       <div class="col-md-6 mb-2 ">
        <div class="card p-3 border-0 strength-card ">
          <div class="text-center">
            <img src="assets/image/Personalized guidance.png" class="img-fluid "alt="">
          </div>
          <h3 class="text-center fw-bold">Personalized guidance</h3>
            <p class="">We believe in the individual potential of each student. Our faculty provides personalized guidance, 
              mentoring, and regular feedback to identify strengths and weaknesses and tailor the coaching experience accordingly.
            </p>
            <div class="go-corner" >
              <div class="go-arrow">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
            </div>
        </div>
    </div>
    </div>
  </div>
   
</section>
<!--Achieve your Goals------------------------------------->
<!--<section class="py-5  coursesbg-color">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 ">
        <h5 class="display-5 fw-bold mb-4 text-white">Achieve your
          Goals with <span class="text-color"> Chanakya's</span> Ias Academy</h5>
        <p class="lead mb-5 text-white"> <span class="text-color">Since 2017</span>, Chanakya's IAS Academy has helped
          more than 4000
          Aspirants to achieve and settle in Central & State Civil Services.</p>
      </div>
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="card p-4 goal-card">
              <div class="text-center">
                <div>
                  <i class="fa-solid fa-users"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="count text-center fs-2 fw-bold" data-target="100">200</div>
                </div>
                <p class="text-secondary">Candidates selected for TNPSC Group I, II services from chanakya</p>

              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card p-4 goal-card">
              <div class="text-center">
                <div>
                  <i class="fa-solid fa-book"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="count text-center fs-2 fw-bold" data-target="100">100</div>
                </div>
                <p class="text-secondary">Selections out of 66 vacancies in TNPSC Group I Results 2022</p>

              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card p-4 goal-card">
              <div class="text-center">
                <div>
                  <i class="fa-solid fa-users"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="count text-center fs-2 fw-bold" data-target="100">300</div>
                </div>
                <p class="text-secondary">Selections for TNPSC Group II (Interview Post) Results 2019</p>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card p-4 goal-card">
              <div class="text-center">
                <div>
                  <i class="fa-solid fa-globe"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="count text-center fs-2 fw-bold" data-target="100">200</div>
                </div>
                <p class="text-secondary">Candidates placed in IAS, IPS, IFS and other All India services</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->


<!---->

<!--OUR SUCCESSFUL CANDIDATES--------------------------------------->
<!--<section class="py-5 suscess-bg-color">
  <div class="container">
    <div class="row">
      <h2 class="text-center fw-bold">OUR SUCCESSFUL CANDIDATES</h2>
      <div class="col-md-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper">
                <div class="card">
                  <img src="assets/image/photo1.png" class=" img-fluid gallery-img-size" alt="...">
                </div>
                <div class="card d-none d-md-block">
                  <img src="assets/image/photo3.png" class="img-fluid gallery-img-size" alt="...">
                </div>
                <div class="card d-none d-md-block">
                  <img src="assets/image/photo-4.png" class="img-fluid gallery-img-size" alt="...">
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="cards-wrapper">
                <div class="card">
                  <img src="assets/image/photo5.png" class=" img-fluid gallery-img-size" alt="...">
                </div>
                <div class="card d-none d-md-block">
                  <img src="assets/image/photo6.png" class="img-fluid gallery-img-size" alt="...">
                </div>
                <div class="card d-none d-md-block">
                  <img src="assets/image/photo7.png" class="img-fluid gallery-img-size" alt="...">
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>-->
<!--Call to action-->
<section class="py-5 action-bg-color position-relative ">
  <div>
    <img src="assets/image/yellow-bg.png" class="callyellow-bg d-none d-lg-block" alt="">
  </div>
  <div class="container">
    <div>
      <img src="assets/image/homescroll/girl1.png" class="img-fluid position-absolute call-logo d-none d-lg-block z--1 " alt="">
     </div>
     <div class="row">
       <div class="col-md-8">
         <div>
          <p class="text-white  welcome-text position-relative fs-4">Join Chanakya's IAS Academy today and take the first step towards achieving your dreams
            Contact us now for more information or to enroll in our coaching programs.</p>
         </div>
       </div>
       <div class="col-md-4 text-center">
        <button type="button" class="btn border-0"><a [routerLink]="['/contact']" class="btn-white">Join Now <i class="fa-solid fa-arrow-right rightarrow"></i></a> </button>
       </div>
     </div>
  </div>
</section>
<!--TESTIMONIAL-->
<section class="py-5 testimonal-bg-color position-relative">
  <div class="container   ">
    <img src="assets/image/shape-04.png" class="position-absolute shape-09 d-none d-lg-block" alt="">
    <div class="row d-flex align-items-center text-center">
      <h2 class="text-heading-muted text-center pb-4 ">Testimonials</h2>
      <div class="col-md-12">
             <div class="d-flex justify-content-center">
              <div class="card border-0 px-5 testament-card position-relative" >
              <div class="text-center py-3">
                <img src="assets/image/quote.png" class="img-fluid " width="50" alt="">
              </div>
                <div id="carouselExample" class="carousel slide testimonal" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active " data-bs-interval="2000">
                      <h3 class="fw-bold text-center slideInRight animated cssanimation">Pradeep</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class="my-5 pb-5  lh-base fs-5 cssanimation">I am extremely satisfied with the coaching provided by Chanakya's IAS Academy,
                         and their regular updates keep me informed.</p>
                       
                    </div>
                    <div class="carousel-item" data-bs-interval="1500">
                      <h3 class="fw-bold text-center cssanimation">Divya</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5  lh-base fs-5 cssanimation">Joining Chanakya's IAS Academy was the best decision I made as a working professional.
                         Thank you for guiding me. </p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="1500">
                      <h3 class="fw-bold text-center cssanimation">
                        Subash</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5  lh-base fs-5 cssanimation">The weekend batches and flexible timings at Chanakya's IAS Academy allowed me to balance
                         work and preparation effectively. Thank you for making this possible.</p>
                    </div>
                    <div class="carousel-item " data-bs-interval="1500">
                      <h3 class="fw-bold text-center cssanimation">
                        Monika</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5  lh-base fs-5 cssanimation">Their study materials and regular revision classes at Chanakya's
                         IAS Academy were invaluable for my preparation towards TNPSC .</p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="1500">
                      <h3 class="fw-bold text-center cssanimation">
                        Praba</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 lh-base fs-5 cssanimation">Hi, I achieved my dream by joining in this academy. I thank you for training me and making me achieve this.
                         I am very satisfied with their training and guidane </p>
                    </div>
                    <div class="carousel-item " data-bs-interval="1500">
                      <h3 class="fw-bold text-center cssanimation">
                        Venkatesh</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">The support and guidance from the staff at Chanakya's IAS Academy helped me successfully crack the exams despite my busy schedule.
                         I am extremely satisfied with the coaching provided by them.</p>
                    </div>
                  </div>
                  <button class="carousel-control-prev position-absolute prev-icon hide-lg" type="button " data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next position-absolute next-icon hide-lg" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
             </div>
      </div>

    </div>
  </div>

</section>
<!------------------------------------------>
<!------------------------------------------->
<!--Map-->
<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12">
        <iframe  src="https://maps.google.com/maps?q=Chanakya's+IAS+Academy+-+TNPSC%2FNEET%2FUPSC%2FRRB%2FBANKING+coaching+centre+in+Villupuram&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed&amp;z=17" class="map"></iframe>
      </div>
    </div>
  </div>
</section>
<!-------------------------------->
<!--<section>
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators hide-lg">
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item item active"data-bs-interval="1500">
              <img src="assets/image/homescroll/CIA_Cover.jpg" class="img-fluid d-none d-lg-block" alt="">
              <img src="assets/image/homescroll/MB.jpg" class="img-fluid d-block d-lg-none" alt="">
            </div>
            <div class="carousel-item item"data-bs-interval="1500">
              <img src="assets/image/homescroll/CIA_Cover_Ad.jpg" class="img-fluid d-none d-lg-block" alt="">
              <img src="assets/image/homescroll/last pic (1).jpg" class="img-fluid d-block d-lg-none" alt="">
            </div>
                <div class="carousel-item  item"data-bs-interval="1500">
            <img src="assets/image/homescroll/tnpsc.jpg" class="img-fluid d-none d-lg-block" alt="">
            <img src="assets/image/homescroll/tnpsc1.jpg" class="img-fluid d-block d-lg-none" alt="">
            </div>
            <div class="carousel-item item "data-bs-interval="1500">
              <img src="assets/image/homescroll/tet & police.jpg" class="img-fluid d-none d-lg-block" alt="">
              <img src="assets/image/homescroll/tet1.jpg" class="img-fluid d-block d-lg-none" alt="">
            </div>

            <div class="carousel-item item"data-bs-interval="1500">
              <img src="assets/image/homescroll/upsc & rrb.jpg" class="img-fluid d-none d-lg-block" alt="">
              <img src="assets/image/homescroll/rrb1.jpg" class="img-fluid d-block d-lg-none" alt="">
            </div>
            <div class="carousel-item item"data-bs-interval="1500">
              <img src="assets/image/homescroll/banking & neet.jpg" class="img-fluid d-none d-lg-block" alt="">
              <img src="assets/image/homescroll/bank2.jpg" class="img-fluid d-block d-lg-none" alt="">
            </div>
         
          </div>
          <button class="carousel-control-prev  prev-icons" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon text-white" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next text-white next-icons" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!--------------------------------->

