<section class="top-bg-image  position-relative">
    <div class="container-fluid">
        <div class="row">
            <div class="position-relative z-1">
                <nav class=" breadcrumb mx-lg-5 flex-wrap px-lg-5">
                    <h3 class=" contact-title">ENQUIRY</h3>
                    <ol class="breadcrumb ">
                        <li class="breadcrumb-item fs-5"><a href="#">HOME  </a></li>
                        <li class="breadcrumb-item active fs-5" aria-current="page"><a [routerLink]="['/contact']">ENQUIRY</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--Contact US-->
<section class="py-5 position-relative ">
    <div>
        <img src="assets/image/contactimg/contact-shape-2.png" class="position-absolute contact-shape-2" alt="">
        <img src="assets/image/contactimg/contact-shape-1.png" class="position-absolute contact-shape-1" alt="">
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 fadeleft">
                <h2 class="fw-bold">Enquiry  Details:</h2>
                <div class="card p-3 border-0">
                    <form class="col-md-12 mt-3" #enquiryform="ngForm" ngNativeValidate (ngSubmit)="enquirynow(enquiryform)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <input type="text" class="form-control contact-form" placeholder=" Full Name" [(ngModel)]="enquiryformdata.Name" name="Name" required>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="mb-4">
                                    <input type="email" class="form-control contact-form" placeholder="Your email"  [(ngModel)]="enquiryformdata.Email" name="Email" required>
                                </div>
                              </div>
                          
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <input type="text" class="form-control contact-form" placeholder="Phone Number" [(ngModel)]="enquiryformdata.Mobilenumber" name="Mobilenumber" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control contact-form-textarea" [(ngModel)]="enquiryformdata.Message" name="Message" rows="5" placeholder="Your Message "
                                    required></textarea>
                                    <div class="mt-3"> 
                                         <button type="submit" class="btn-color btn fw-bold btn-primary"> Send Your Message</button>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 faderight">
                <h2 class="fw-bold mb-3">Contact Info:</h2>
                <div class="card border-0 shadow-color">
                    <ul>
                        <li>
                            <div class="d-flex ">
                                <div>
                                    <i class="fa-solid fa-location-dot text-primary"></i>
                                </div>
                                <div class="ps-3 mb-3">
                                    <h5 class="contact__info-text">Address</h5>
                                    <p class="text-para-muted">343, Collectorate Arch Annexure Building
                                        Trichy Main Road
                                        Viluppuram, Tamil Nadu 605602
                                        India</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex ">
                                <div>
                                    <i class="fa-solid fa-envelope text-primary"></i>
                                </div>
                                <div class="ps-3 mb-3">
                                    <h5 class="contact__info-text">Email</h5>
                                    <p class="text-para-muted"> chanakyas@educal.com</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex ">
                                <div>
                                    <i class="fa-solid fa-phone text-primary"></i>
                                </div>
                                <div class="ps-3 mb-3">
                                    <h5 class="contact__info-text">Phone Number</h5>
                                    <p>81226 23252</p>

                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="ps-5">
                        <h5 class="mb-3 contact__info-text">Follow Us</h5>
                        <div>
                            <ul class="d-flex ms-0 ps-0 gap-2">
                                <li><a href="" class="box-size "><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="" class="box-size  bg-colour"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="" class="box-size  bg-colours"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="" class="box-size  btn-success-color">  <i class="fa-brands fa-whatsapp"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>             
        </div>
    </div>
</section>
<!--Map-->
<section>
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-md-12">
          <iframe  src="https://maps.google.com/maps?q=Chanakya's+IAS+Academy+-+TNPSC%2FNEET%2FUPSC%2FRRB%2FBANKING+coaching+centre+in+Villupuram&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed&amp;z=17" class="map"></iframe>
        </div>
      </div>
    </div>
  </section>
  