.row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .contact-form{
    line-height: 54px;
    padding: 0 23px;
    background: #f3f4f8;
    border-radius: 4px;
    border: 2px solid #f3f4f8;
    font-size: 15px;
    margin-bottom: 20px;
}
.form-label{
    font-size: 20px;
    font-weight: 500;
    color: #0e1133;
    margin-bottom: 11px;
}
.e-btn{
    height: 50px;
    text-align: center;
    padding: 0 25px;
    color: #ffffff;
    background: #2b4eff;
    border-radius: 4px;
 
}
.manimg{
    bottom: 30%;
    right: 25%;
}
.man{
  bottom: 25%;
  left: 32%;
}
.dot{
  top: 30%;
  right: 36%;
  animation: signDot 5s linear 0s infinite alternate;
}
@keyframes signDot {
  0% { transform: translateY(0);}
  100% {transform: translateY(50px);}
}
.form-label{
  font-size: 16px;
    font-weight: 500;
    color: #0e1133;
}
.home{  
    background: linear-gradient(90deg, rgba(255,248,232,1) 0%, rgba(140,153,254,1) 400%);
}
