<section class="top-bg-image  position-relative">
  <div class="container-fluid">
      <div class="row">
          <div class="position-relative z-1">
              <nav class=" breadcrumb mx-lg-5 flex-wrap px-lg-5">
                  <h3 class=" contact-title px-5">RRB</h3>
                  <ol class="breadcrumb  px-5 ">
                      <li class="breadcrumb-item fs-5"><a href="#">HOME  </a></li>
                      <li class="breadcrumb-item active fs-5" aria-current="page"><a [routerLink]="['/rrb']">RRB</a></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</section>
<section class="py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="text-center">
            <img src="assets/image/courses/rrb/rrb logo.png" class="img-fluid" alt="">
          </div>
          <div class="text-center">
            <h2 class="fw-bold">Railway Recruitment Board</h2>
          </div>
      </div>
      <div class="col-md-12">
         <div class="d-flex justify-content-center">
          <div class="tnpsc-card card border-0 ">
            <p class="text-para-muted">At Chanakya's IAS Academy, we offer specialized coaching programs to assist students in their preparation
               for Railway Recruitment Board (RRB) exams. Our comprehensive coaching is designed to equip students with the necessary knowledge,
               skills, and strategies to crack the highly competitive RRB exams and secure a coveted position in the Indian Railways.
            </p>
          </div>
         </div>
      </div>
      <div class="text-center">
        <button type="submit" class="coursesbtn-color btn fw-bold btn-primary"  [routerLink]="['/enquiry','rrb']"> Enroll Now</button>
      </div>
    </div>
  </div>
</section>
<!---->
<section>
  <div class="container">
    <div class="roe">
      <div class="col-md-12">
        <hr class="hr-line"> 
      </div>
    </div>
  </div>
 </section> 
 <!---->
<section class="py-5 gallery-bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center fw-bold mb-5">Key Features</h2>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card mb-5 tnpsc-logo">
              <div class="row g-0 justify-content-center align-items-center">
                <div class="col-md-4">
                  <img src="assets/image/courses/syllabus icons.png" class="img-fluid rounded-start " width="125"
                    alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <p class="card-text fw-bold">Comprehensive Coverage of RRB Exam Syllabus</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card mb-5 tnpsc-logo">
              <div class="row g-0 justify-content-center align-items-center">
                <div class="col-md-4">
                  <img src="assets/image/courses/rrb/Faculty Guidance.png" class="img-fluid rounded-start "
                    width="125" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <p class="card-text fw-bold">Expert Faculty Guidance</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card mb-5 tnpsc-logo">
              <div class="row g-0 justify-content-center align-items-center">
                <div class="col-md-4">
                  <img src="assets/image/courses/rrb/study materials.png" class="img-fluid rounded-start " width="125"
                    alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <p class="card-text fw-bold">Updated Study Materials</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card mb-5 tnpsc-logo">
              <div class="row g-0 justify-content-center align-items-center">
                <div class="col-md-4">
                  <img src="assets/image/courses/rrb/mock tests.png"
                    class="img-fluid rounded-start " width="125" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <p class="card-text fw-bold">Regular Mock Tests and Practice Sessions</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card mb-5 tnpsc-logo">
              <div class="row g-0 justify-content-center align-items-center">
                <div class="col-md-4">
                  <img src="assets/image/courses/rrb/Doubt session.png" class="img-fluid rounded-start "
                    width="125" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <p class="card-text fw-bold">Personalized Attention and Doubt Clearing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card mb-5 tnpsc-logo">
              <div class="row g-0 justify-content-center align-items-center">
                <div class="col-md-4">
                  <img src="assets/image/courses/rrb/Updates and Notifications.png" class="img-fluid rounded-start "
                    width="125" alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <p class="card-text fw-bold">Regular Updates and Notifications</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!--Call to action-->
<section class="py-5 action-bg-color position-relative ">
  <div>
    <img src="assets/image/yellow-bg.png" class="callyellow-bg d-none d-lg-block" alt="">
  </div>
  <div class="container">
    <div>
      <img src="assets/image/homescroll/girl1.png" class="img-fluid position-absolute call-logo d-none d-lg-block z--1 " alt="">
     </div>
     <div class="row">
       <div class="col-md-8">
         <div>
          <p class="text-white  welcome-text position-relative fs-4">Join Chanakya's IAS Academy today and take the first step towards achieving your dreams
            Contact us now for more information or to enroll in our coaching programs.</p>
         </div>
       </div>
       <div class="col-md-4 text-center">
        <button type="button" class="btn border-0"><a [routerLink]="['/contact']" class="btn-white">Join Now <i class="fa-solid fa-arrow-right rightarrow"></i></a> </button>
       </div>
     </div>
  </div>
</section>
<!--TESTIMONIAL-->
<section class="py-5 testimonal-bg-color position-relative">
  <div class="container   ">
    <img src="assets/image/shape-04.png" class="position-absolute shape-09 d-none d-lg-block" alt="">
    <div class="row d-flex align-items-center text-center">
      <h2 class="text-heading-muted text-center pb-4">Testimonials</h2>
      <div class="col-md-12">
             <div class="d-flex justify-content-center">
              <div class="card border-0 px-5 testament-card position-relative" >
              <div class="text-center py-3">
                <img src="assets/image/quote.png" class="img-fluid " width="50" alt="">
              </div>
                <div id="carouselExample" class="carousel slide testimonal" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">Pradeep</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class="my-5 pb-5 welcome-text lh-base fs-5 cssanimation">I am extremely satisfied with the coaching provided by Chanakya's IAS Academy,
                         and their regular updates keep me informed.</p>
                       
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">Divya</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">Joining Chanakya's IAS Academy was the best decision I made as a working professional.
                         Thank you for guiding me. </p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Subash</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">The weekend batches and flexible timings at Chanakya's IAS Academy allowed me to balance
                         work and preparation effectively. Thank you for making this possible.</p>
                    </div>
                    <div class="carousel-item " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Monika</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">Their study materials and regular revision classes at Chanakya's
                         IAS Academy were invaluable for my preparation towards TNPSC .</p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Praba</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">Hi, I achieved my dream by joining in this academy. I thank you for training me and making me achieve this.
                         I am very satisfied with their training and guidane </p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Venkatesh</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">The support and guidance from the staff at Chanakya's IAS Academy helped me successfully crack the exams despite my busy schedule.
                         I am extremely satisfied with the coaching provided by them.</p>
                    </div>
                  </div>
                  <button class="carousel-control-prev position-absolute prev-icon hide-lg" type="button " data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next position-absolute next-icon hide-lg" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
             </div>
      </div>

    </div>
  </div>

</section>
<!--Map-->
<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12">
        <iframe  src="https://maps.google.com/maps?q=Chanakya's+IAS+Academy+-+TNPSC%2FNEET%2FUPSC%2FRRB%2FBANKING+coaching+centre+in+Villupuram&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed&amp;z=17" class="map"></iframe>
      </div>
    </div>
  </div>
</section>