<footer>
  <section class="py-5 footer-bgcolour position-relative">
       <div class="container">
          <div class="row">
            <div>
              <img src="assets/image/shape-21-01.png" class="position-absolute shape-21" alt="">
              <img src="assets/image/shape-35.png" class="position-absolute shape-35" alt="">
            </div>
              <div class="col-md-3">
                <h5 class=" mb-4 fs-4 text-white fw-bold">ABOUT US</h5>
                  <p class="text-white mt-3">Welcome to Chanakya's IAS Academy, the premier
                     coaching center for Civil Services Exams.  <button type="button" class="btn  btn-white" [routerLink]="['/about']">Read more</button>
                  </p>
                    <h4 class="text-white fw-bold">Share Link</h4>
                  <div>
                      <ul class="d-flex ms-0 ps-0 gap-2">
                          <li><a href="" class="box-size "><i class="fa-brands fa-facebook-f"></i></a></li>
                          <li><a href="" class="box-size  bg-colour"><i class="fa-brands fa-twitter"></i></a></li>
                          <li><a href="" class="box-size  bg-colours"><i class="fa-brands fa-youtube"></i></a></li>
                          <li><a href="" class="box-size  btn-success-color">  <i class="fa-brands fa-whatsapp"></i></a></li>
                      </ul>
                  </div>
                
              </div>
              <div class="col-md-3">
                  <h5 class="mb-4 fs-4 text-white fw-bold">COURSES OFFERED</h5>
                  <ul class="footer-text  ms-0 ps-0 ">
                   <li>
                     <a [routerLink]="['/tnpsc']">TNPSC</a>
                   </li>
                   <li>
                     <a [routerLink]="['/upsc']">UPSC</a>
                   </li>
                   <li>
                     <a [routerLink]="['/rrb']">RRB</a>
                   </li>
                   <li>
                     <a [routerLink]="['/tet']">TET</a>
                   </li>
                   <li>
                     <a [routerLink]="['/bank']">BANKING</a>
                   </li>
                   <li>
                     <a [routerLink]="['/neet']">NEET</a>
                   </li>
                   <li>
                      <a [routerLink]="['/police']">POLICE</a>
                    </li>
                    <li>
                      <a [routerLink]="['/pgtrb']">PGTRP</a>
                    </li>
                    
                  </ul>
                  
               </div>
               <div class="col-md-3">
                  <h5 class=" mb-4 fs-4 text-white fw-bold">QUICK LINKS</h5>
                  <ul class="footer-text  ms-0 ps-0">
                    <li>
                      <a [routerLink]="['/login']">Login</a>
                    </li>
                   <li>
                     <a [routerLink]="['/policy']">Privacy Policy</a>
                   </li>
                   <li>
                    <a [routerLink]="['/gallery']">News Room</a>
                  </li>
                   <li>
                     <a [routerLink]="['/contact']" >Contact Us</a>
                   </li>
                  </ul>
                  <h5 class="mb-4 fs-4 text-white fw-bold">Enquiry Number</h5>
                  <ul class="ms-0 ps-0">
                    <li>
                      <h5 class="text-white">+91 81226 23252</h5>
                    </li>
                  </ul>
               </div>
              <div class="col-md-3">
                <div>
                  <img class="img-fluid" src="assets/image/Chanakya logo.png " width="250" height="250" alt="">
                </div>
                <div>
                 
                </div>
               
              </div>
          </div>
          <div class="pt-5">
            <div class="row">
              <div class="col-md-12">
                <p class="text-white text-center">@ Copyright 2023  Designed By Thirsty Crowz. All Rights Reserved</p>
              </div>
            </div>
           </div>
       </div>
  </section>

</footer>
