<section class="top-bg-image  position-relative">
  <div class="container-fluid">
      <div class="row">
          <div class="position-relative z-1">
              <nav class=" breadcrumb mx-lg-5 flex-wrap px-lg-5">
                  <h3 class=" contact-title"> PRIVACY POLICY</h3>
                  <ol class="breadcrumb  ">
                      <li class="breadcrumb-item fs-5"><a href="#">HOME  </a></li>
                      <li class="breadcrumb-item active fs-5" aria-current="page"><a [routerLink]="['/policy']">PRIVACY POLICY</a></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2 class="text-color">Privacy Policy</h2>
                    <p class="text-para-muted">At Chanakya's IAS Academy, we are committed to protecting the privacy and
                        personal information of our website users.
                        This Privacy Policy outlines how we collect, use, and safeguard the information you provide to
                        us.
                        By accessing and using our website, you agree to the terms and practices described in this
                        policy.</p>
                </div>
                <div>
                    <h2 class="text-color">Information Collection and Use</h2>
                    <p class="text-para-muted">We may collect personal information such as your name, email address, contact
                        number, and other relevant details
                        when you voluntarily submit it through our website's contact form or during the registration
                        process for our coaching programs.
                        We use this information
                        to respond to your inquiries, provide you with the requested services, and communicate important
                        updates and information.</p>
                </div>
                <div>
                    <h2 class="text-color">Data Security</h2>
                    <p class="text-para-muted">We take reasonable measures to protect the security of your personal
                        information against unauthorized access,
                        alteration, disclosure, or destruction. However, please note that no data transmission over the
                        internet or electronic storage method
                        is entirely secure. While we strive to protect your personal information, we cannot guarantee
                        its absolute security.</p>
                </div>
                <div>
                    <h2 class="text-color">
                        Information Sharing and Disclosure</h2>
                    <p class="text-para-muted">We do not sell, trade, or rent your personal information to third parties for
                        marketing purposes.
                        We may share your information with trusted third-party service providers who assist us in
                        operating
                        our website or delivering our services, but only to the extent necessary to fulfill their
                        responsibilities.
                        We ensure that such third parties adhere to strict confidentiality and data protection
                        obligations.</p>
                </div>
                <div>
                    <h2 class="text-color">
                        External Links</h2>
                    <p class="text-para-muted">Our website may contain links to third-party websites. We are not responsible
                        for the privacy practices or
                        content
                        of these websites. We encourage you to review the privacy policies of any third-party websites
                        you visit.</p>
                </div>
                <div>
                    <h2 class="text-color">

                        Cookies and Tracking Technologies</h2>
                    <p class="text-para-muted">We may use cookies, web beacons, and similar tracking technologies to enhance your browsing experience
                         and gather information about how you use our website. This information is used for analytical purposes,
                          such as improving our website's functionality and tailoring content to better suit your preferences.
                         You can choose to disable cookies through your browser settings, but this may affect your experience on our website.</p>
                </div>
                <div>
                    <h2 class="text-color">

                        Updates to the Privacy Policy</h2>
                    <p class="text-para-muted">We reserve the right to update or modify this Privacy Policy at any time without prior notice.
                         We encourage you to review this policy 
                        periodically to stay informed about how we protect your information and comply with applicable privacy laws.</p>
                </div>
                <div>
                    <h2 class="text-color">

                        Contact Us</h2>
                    <p class="text-para-muted mb-4">If you have any questions, concerns, or requests regarding this Privacy Policy or
                         the handling of your personal information,
                         please contact us at [chanakyawin@gmail.com] or through the contact information provided on our website.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!--Call to action-->
<section class="py-5 action-bg-color position-relative ">
  <div>
    <img src="assets/image/yellow-bg.png" class="callyellow-bg d-none d-lg-block" alt="">
  </div>
  <div class="container">
    <div>
      <img src="assets/image/homescroll/girl1.png" class="img-fluid position-absolute call-logo d-none d-lg-block z--1 " alt="">
     </div>
     <div class="row">
       <div class="col-md-8">
         <div>
          <p class="text-white  welcome-text position-relative fs-4">Join Chanakya's IAS Academy today and take the first step towards achieving your dreams
            Contact us now for more information or to enroll in our coaching programs.</p>
         </div>
       </div>
       <div class="col-md-4 text-center">
        <button type="button" class="btn border-0"><a [routerLink]="['/contact']" class="btn-white">Join Now <i class="fa-solid fa-arrow-right rightarrow"></i></a> </button>
       </div>
     </div>
  </div>
</section>
<!--TESTIMONIAL-->
<section class="py-5 testimonal-bg-color position-relative">
  <div class="container   ">
    <img src="assets/image/shape-04.png" class="position-absolute shape-09 d-none d-lg-block" alt="">
    <div class="row d-flex align-items-center text-center">
      <h2 class="text-heading-muted text-center pb-4">Testimonials</h2>
      <div class="col-md-12">
             <div class="d-flex justify-content-center">
              <div class="card border-0 px-5 testament-card position-relative" >
              <div class="text-center py-3">
                <img src="assets/image/quote.png" class="img-fluid " width="50" alt="">
              </div>
                <div id="carouselExample" class="carousel slide testimonal" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">Pradeep</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class="my-5 pb-5 welcome-text lh-base fs-5 cssanimation">I am extremely satisfied with the coaching provided by Chanakya's IAS Academy,
                         and their regular updates keep me informed.</p>
                       
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">Divya</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">Joining Chanakya's IAS Academy was the best decision I made as a working professional.
                         Thank you for guiding me. </p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Subash</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">The weekend batches and flexible timings at Chanakya's IAS Academy allowed me to balance
                         work and preparation effectively. Thank you for making this possible.</p>
                    </div>
                    <div class="carousel-item " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Monika</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">Their study materials and regular revision classes at Chanakya's
                         IAS Academy were invaluable for my preparation towards TNPSC .</p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Praba</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">Hi, I achieved my dream by joining in this academy. I thank you for training me and making me achieve this.
                         I am very satisfied with their training and guidane </p>
                    </div>
                    <div class="carousel-item  " data-bs-interval="2000">
                      <h3 class="fw-bold text-center cssanimation">
                        Venkatesh</h3>
                      <div>
                        <ul class="d-flex justify-content-center ms-0 ps-0 mb-0">
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star"></i></li>
                          <li class="text-warning"><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                      </div>
                      <p class=" my-5 pb-5 welcome-text lh-base fs-5 cssanimation">The support and guidance from the staff at Chanakya's IAS Academy helped me successfully crack the exams despite my busy schedule.
                         I am extremely satisfied with the coaching provided by them.</p>
                    </div>
                  </div>
                  <button class="carousel-control-prev position-absolute prev-icon hide-lg" type="button " data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next position-absolute next-icon hide-lg" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
             </div>
      </div>

    </div>
  </div>

</section>
  <!--Map-->
  <section>
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-md-12">
          <iframe  src="https://maps.google.com/maps?q=Chanakya's+IAS+Academy+-+TNPSC%2FNEET%2FUPSC%2FRRB%2FBANKING+coaching+centre+in+Villupuram&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed&amp;z=17" class="map"></iframe>
        </div>
      </div>
    </div>
  </section>